.metadata

*.class
*.log

journal/
snapshots/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# sbt
.history
boot/
lib_managed/
target/

# Eclipse
.cache
.cache-main
.cache-tests
.classpath
.project
.scala_dependencies
.settings
.target/
.worksheet/
*.sc
bin/

# IntelliJ
.idea/
out/
*.iml
*.ipr
*.iws

# ENSIME
.ensime
.ensime_lucene/

# Mac
.DS_Store

# vscode metals
.metals/
.bloop/

.bsp/
