sudo: required
cache:
  - $HOME/.ivy2
  - $HOME/.sbt
os: linux
dist: trusty
services:
   - docker
language: scala
scala:
   - 2.11.12
   - 2.12.6
env:
  matrix:
    - MONGODB_VERSION=3.0 MONGODB_OPTS="--storageEngine wiredTiger"
    - MONGODB_VERSION=3.2 MONGODB_OPTS="--storageEngine wiredTiger"
    - MONGODB_VERSION=3.4 MONGODB_OPTS="--storageEngine wiredTiger"
    - MONGODB_VERSION=3.6 MONGODB_OPTS="--storageEngine wiredTiger --bind_ip_all"
  global:
    - MONGODB_AUTH_PORT=28117
    - MONGODB_NOAUTH_PORT=27117
    - CONTAINER_HOST=127.0.0.1
jdk:
  - openjdk8
before_install:
  - docker pull scullxbones/mongodb:$MONGODB_VERSION
  - docker run -d -p $MONGODB_NOAUTH_PORT:27017 scullxbones/mongodb:$MONGODB_VERSION --noauth $MONGODB_OPTS
  - docker run -d -p $MONGODB_AUTH_PORT:27017 scullxbones/mongodb:$MONGODB_VERSION --auth $MONGODB_OPTS
  - docker ps -a
before_script:
  - sleep 15
  - docker exec $(docker ps -a | grep -e "--auth" | awk '{print $1;}') mongo admin --eval "db.createUser({user:'admin',pwd:'password',roles:['root']});"
script:
  - travis_retry sbt ++$TRAVIS_SCALA_VERSION -Dakka.test.timefactor=10 ";akka-persistence-mongo-common/travis:test;akka-persistence-mongo-casbah/travis:test;akka-persistence-mongo-rxmongo/travis:test;akka-persistence-mongo-tools/travis:test"
