sudo: required
cache:
  - $HOME/.ivy2
os: linux
dist: trusty
services:
   - docker
language: scala
scala:
   - 2.11.8
   - 2.12.1
env:
  matrix:
    - MONGODB_VERSION=2.6
    - MONGODB_VERSION=3.0 STORAGE_ENGINE="--storageEngine wiredTiger"
    - MONGODB_VERSION=3.2 STORAGE_ENGINE="--storageEngine wiredTiger"
    - MONGODB_VERSION=3.4 STORAGE_ENGINE="--storageEngine wiredTiger"
  global:
    - MONGODB_AUTH_PORT=28117
    - MONGODB_NOAUTH_PORT=27117
    - CONTAINER_HOST=127.0.0.1
jdk:
  - oraclejdk8
before_install:
  - docker pull scullxbones/mongodb:$MONGODB_VERSION
  - docker run -d -p $MONGODB_NOAUTH_PORT:27017 scullxbones/mongodb:$MONGODB_VERSION --noauth $STORAGE_ENGINE
  - docker run -d -p $MONGODB_AUTH_PORT:27017 scullxbones/mongodb:$MONGODB_VERSION --auth $STORAGE_ENGINE
  - docker ps -a
before_script:
  - sleep 15
  - docker exec $(docker ps -a | grep -e "--auth" | awk '{print $1;}') mongo admin --eval "db.createUser({user:'admin',pwd:'password',roles:['root']});"
script:
  - travis_retry sbt ++$TRAVIS_SCALA_VERSION -Dakka.test.timefactor=10 ";akka-persistence-mongo-common/test;akka-persistence-mongo-casbah/test;akka-persistence-mongo-rxmongo/test;akka-persistence-mongo-tools/test"
